@page "/"
@inject IToastService ToastService

<PageTitle>Home</PageTitle>

<h1>FluentUI Tasks</h1>
<p>
    This project demonstrates how to use the <span>Fluent UI Blazor Library</span> (https://www.fluentui-blazor.net/).
</p>
<h3>Technologies used</h3>
<ul>
    <li>Backend: ASP.NET Core Web API</li>
    <li>Frontend: Fluent Blazor WebAssembly Standalone App</li>
</ul>
Is a simple app to Task Assignment!

