USE [master]
GO
/****** Object:  Database [FluentTasks]    Script Date: 17/7/2025 13:04:53 ******/
CREATE DATABASE [FluentTasks]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FluentTasks', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\FluentTasks.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FluentTasks_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\FluentTasks_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FluentTasks].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FluentTasks]
GO
USE [FluentTasks]
GO
/****** Object:  Table [dbo].[AppRoles]    Script Date: 17/7/2025 13:04:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NULL,
 CONSTRAINT [PK_AppRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppUserRoles]    Script Date: 17/7/2025 13:04:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppUserRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_AppUserRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppUsers]    Script Date: 17/7/2025 13:04:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](60) NULL,
	[Email] [nvarchar](128) NULL,
	[Password] [nvarchar](max) NULL,
	[LockoutEnabled] [bit] NOT NULL,
 CONSTRAINT [PK_AppUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 17/7/2025 13:04:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](120) NOT NULL,
	[Company] [nvarchar](60) NULL,
	[LastName] [nvarchar](60) NOT NULL,
	[FirstName] [nvarchar](60) NOT NULL,
	[Phone] [nvarchar](60) NULL,
 CONSTRAINT [PK_Contacts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefreshTokenInfos]    Script Date: 17/7/2025 13:04:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshTokenInfos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Token] [nvarchar](max) NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_RefreshTokenInfos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Txsks]    Script Date: 17/7/2025 13:04:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Txsks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](256) NULL,
	[ContactId] [int] NULL,
	[DueDate] [datetime] NOT NULL,
	[TxskTypeId] [int] NOT NULL,
	[TxskStatusId] [int] NOT NULL,
 CONSTRAINT [PK_Tasks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TxskStatuses]    Script Date: 17/7/2025 13:04:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TxskStatuses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](60) NOT NULL,
 CONSTRAINT [PK_TaskStatuses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TxskTypes]    Script Date: 17/7/2025 13:04:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TxskTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](60) NOT NULL,
 CONSTRAINT [PK_TaskTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AppRoles] ON 

INSERT [dbo].[AppRoles] ([Id], [Name]) VALUES (1, N'ADMIN')
INSERT [dbo].[AppRoles] ([Id], [Name]) VALUES (2, N'EMPLOYEE')
INSERT [dbo].[AppRoles] ([Id], [Name]) VALUES (3, N'CUSTOMER')
SET IDENTITY_INSERT [dbo].[AppRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[AppUserRoles] ON 

INSERT [dbo].[AppUserRoles] ([Id], [UserId], [RoleId]) VALUES (1, 1, 1)
SET IDENTITY_INSERT [dbo].[AppUserRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[AppUsers] ON 

/* Password: "saton.25" */
INSERT [dbo].[AppUsers] ([Id], [FullName], [Email], [Password], [LockoutEnabled]) VALUES (1, N'Sam Aton', N'saton@tasks.com', N'$2a$11$StoLGLhbMsACxH5kOXTpvu5b27gGLgUwzQhy0IzXM7/hufRgyo/Kq', 0)
SET IDENTITY_INSERT [dbo].[AppUsers] OFF
GO
SET IDENTITY_INSERT [dbo].[Contacts] ON 

INSERT [dbo].[Contacts] ([Id], [Email], [Company], [LastName], [FirstName], [Phone]) VALUES (1, N'pedro@hmail.com', N'Neoris', N'Pedro', N'Saldivar', N'341 699-8699')
INSERT [dbo].[Contacts] ([Id], [Email], [Company], [LastName], [FirstName], [Phone]) VALUES (2, N'jhon@gmail.com', NULL, N'Jhon', N'Konor', N'3416998699')
INSERT [dbo].[Contacts] ([Id], [Email], [Company], [LastName], [FirstName], [Phone]) VALUES (3, N'laura@gmail.com', NULL, N'Laura', N'Konor', N'3416998700')
SET IDENTITY_INSERT [dbo].[Contacts] OFF
GO
SET IDENTITY_INSERT [dbo].[RefreshTokenInfos] ON 

INSERT [dbo].[RefreshTokenInfos] ([Id], [Token], [UserId]) VALUES (1, N'NCuyth6YmiLS8xJdjbCre8AjGkpLgG686LPAFf8V1HD6nO6KWpRPUIx+bPQs1AsRxolmEYTFXEgFpjWAh0FkPQ==', 1)
SET IDENTITY_INSERT [dbo].[RefreshTokenInfos] OFF
GO
SET IDENTITY_INSERT [dbo].[Txsks] ON 

INSERT [dbo].[Txsks] ([Id], [Title], [ContactId], [DueDate], [TxskTypeId], [TxskStatusId]) VALUES (1, N'Reminder call', 1, CAST(N'2025-01-26T00:00:00.000' AS DateTime), 2, 1)
INSERT [dbo].[Txsks] ([Id], [Title], [ContactId], [DueDate], [TxskTypeId], [TxskStatusId]) VALUES (2, N'Mesa entrada', 1, CAST(N'2025-06-09T00:00:00.000' AS DateTime), 2, 2)
INSERT [dbo].[Txsks] ([Id], [Title], [ContactId], [DueDate], [TxskTypeId], [TxskStatusId]) VALUES (3, N'Ventana Entrada', 3, CAST(N'2025-06-09T00:00:00.000' AS DateTime), 3, 2)
SET IDENTITY_INSERT [dbo].[Txsks] OFF
GO
SET IDENTITY_INSERT [dbo].[TxskStatuses] ON 

INSERT [dbo].[TxskStatuses] ([Id], [Name]) VALUES (1, N'Para hacer')
INSERT [dbo].[TxskStatuses] ([Id], [Name]) VALUES (2, N'En Progreso')
INSERT [dbo].[TxskStatuses] ([Id], [Name]) VALUES (3, N'Finalizada')
SET IDENTITY_INSERT [dbo].[TxskStatuses] OFF
GO
SET IDENTITY_INSERT [dbo].[TxskTypes] ON 

INSERT [dbo].[TxskTypes] ([Id], [Name]) VALUES (1, N'Lijar')
INSERT [dbo].[TxskTypes] ([Id], [Name]) VALUES (2, N'Pintar')
INSERT [dbo].[TxskTypes] ([Id], [Name]) VALUES (3, N'Limpiar')
SET IDENTITY_INSERT [dbo].[TxskTypes] OFF
GO
ALTER TABLE [dbo].[AppUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AppUserRoles_AppRoles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AppRoles] ([Id])
GO
ALTER TABLE [dbo].[AppUserRoles] CHECK CONSTRAINT [FK_AppUserRoles_AppRoles]
GO
ALTER TABLE [dbo].[AppUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AppUserRoles_AppUsers] FOREIGN KEY([UserId])
REFERENCES [dbo].[AppUsers] ([Id])
GO
ALTER TABLE [dbo].[AppUserRoles] CHECK CONSTRAINT [FK_AppUserRoles_AppUsers]
GO
ALTER TABLE [dbo].[RefreshTokenInfos]  WITH CHECK ADD  CONSTRAINT [FK_RefreshTokenInfos_AppUsers] FOREIGN KEY([UserId])
REFERENCES [dbo].[AppUsers] ([Id])
GO
ALTER TABLE [dbo].[RefreshTokenInfos] CHECK CONSTRAINT [FK_RefreshTokenInfos_AppUsers]
GO
ALTER TABLE [dbo].[Txsks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_Contacts] FOREIGN KEY([ContactId])
REFERENCES [dbo].[Contacts] ([Id])
GO
ALTER TABLE [dbo].[Txsks] CHECK CONSTRAINT [FK_Tasks_Contacts]
GO
ALTER TABLE [dbo].[Txsks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_TaskStatuses] FOREIGN KEY([TxskStatusId])
REFERENCES [dbo].[TxskStatuses] ([Id])
GO
ALTER TABLE [dbo].[Txsks] CHECK CONSTRAINT [FK_Tasks_TaskStatuses]
GO
ALTER TABLE [dbo].[Txsks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_TaskTypes] FOREIGN KEY([TxskTypeId])
REFERENCES [dbo].[TxskTypes] ([Id])
GO
ALTER TABLE [dbo].[Txsks] CHECK CONSTRAINT [FK_Tasks_TaskTypes]
GO
USE [master]
GO
